.compare {
    margin-top: 20px;
    text-align: center;
    width: calc(25% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.compare--total .compare__figure {
    color: var(--red-colour);
}

.compare--active .compare__figure {
    color: var(--orange-colour);
}

.compare--deaths .compare__figure {
    color: var(--purple-colour);
}

.compare--recovered .compare__figure {
    color: var(--green-colour);
}

.compare__figure {
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 600;
}

.compare__difference {
    font-size: 1.3rem;
    color: var(--grey-colour);
    font-weight: 600;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare__character {
    font-size: 0.9rem;
    line-height: 0.9rem;
    margin-right: 2px;
}

.compare__character--stable {
    color: var(--orange-colour);
}

.compare__character--increase {
    color: var(--red-colour);
}

.compare--recovered .compare__character--increase {
    color: var(--green-colour);
}

.compare__character--decrease {
    color: var(--green-colour);
}

@media only screen and (max-width: 768px) {
    .compare {
        width: calc(50% - 10px);
    }
}

@media only screen and (max-width: 400px) {
    .compare {
        width: 100%;
    }
}