:root {
    --purple-colour: #6236ff;
    --red-colour: #f9345e;
    --green-colour: #1cb142;
    --orange-colour: #fa6400;
    --navy-colour: #1a1053;
    --grey-colour: #817c9b;
    --light-grey-colour: #ebebeb;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: #f8f8f8;
}

body {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--navy-colour);
    display: flex;
    flex-direction: column;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.8rem;
}

p {
    margin: 0;
}

ol, 
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.wrapper {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.panel-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.country-list {
    margin-top: 20px;
}

.page-title {
    margin-top: 30px;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* width */
.scrollbar::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 8px;
   
}

/* Track */
.scrollbar::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover
::-webkit-scrollbar-thumb:hover {
    background: #555;
}